<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Park Page (Vagas)</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg" data-bs-theme="dark">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand fw-bold"><i class="bi bi-car-front-fill text-primary fw-bold"></i>&nbsp;&nbsp;Controle de Estacionamento</a>
    </div>
</nav>

<div class="d-flex justify-content-center flex-wrap" style="padding: 1%;">

    <form method="post">

        <div class="card text-center bg-light border-primary" style="width: 75rem;">
            <div class="card-header text-primary">
                <i class="bi bi-pencil-square text-success fw-bold">&nbsp;&nbsp;</i>Formulário de Aquisição
            </div>
            <div class="card-body">
                <h5 class="card-title">Estacionar</h5>
                <p class="card-text">

                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingTipo" aria-label="Floating label select example" name="tipo" required>
                        <option value="Moto">Moto</option>
                        <option value="Carro">Carro</option>
                    </select>
                    <label for="floatingTipo"><i class="text-info">Tipo de veículo</i></label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingFabricante" placeholder="Fabricante" name="fabricante" required>
                    <label for="floatingFabricante"><i class="text-info">Fabricante</i></label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingModelo" placeholder="Modelo" name="modelo" required>
                    <label for="floatingModelo"><i class="text-info">Modelo</i></label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingPlaca" placeholder="Placa" name="placa" required>
                    <label for="floatingPlaca"><i class="text-info">Placa</i></label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" id="floatPermanencia" name="permanencia" aria-label="Floating label select example" required>
                        <option value="00:30:00">30 Minutos</option>
                        <option value="00:60:00">1 Hora</option>
                        <option value="01:20:00">2 Horas</option>
                    </select>
                    <label for="floatingTipo"><i class="text-info">Tempo de Permanencia</i></label>
                </div>

                <a class="btn btn-danger shadow-sm rounded rounded" href="/" style="width: 45% ;"><i class="bi bi-arrow-left-circle-fill">&nbsp;&nbsp;</i>Voltar</a>
                <button class="btn btn-success shadow rounded" type="submit" style="width: 45%;"><i class="bi bi-check-circle-fill">&nbsp;&nbsp;</i>Gravar</button>

            </div>


            <div class="card-footer text-body-secondary">
                <i class="bi bi-coin text-dark">&nbsp;</i>Total de Créditos: <b class="text-danger">R$0.00</b> | <a class="btn btn-dark btn-sm">Comprar</a>
            </div>
        </div>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>